//===============================
// GLOBAL CONFIG
//===============================


// Colors

$mamba              : #95819a;
$roman-coffee       : #77564b;
$chambray           : #364f8d;
$new-york-pink      : #d0727f;
$firefly            : #0c1627;
$white              : #ffffff;
$black              : #000000;

// Color Usage

$color-primary             : $mamba;
$color-background          : $firefly;
$color-secondary           : $chambray;
$color-text                : $white;

// Font Stacks

$font-url--google       : 'https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat+Alternates';

$font-family--primary   : 'Josefin Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary  : 'Montserrat Alternates', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights

$font-weight--thin  : 100;
$font-weight--light : 300;
$font-weight--medium: 400;
$font-weight--bold  : 700;
$font-weight--ultra : 900;

// Text

$base__font-size : 18px;
$base__line: 26px;
$letter-space: 1px;

// Breakpoints

$brkpoint-sm: 1px;
$brkpoint-md: 768px;
$brkpoint-lg: 1024px;


// Border Radius

$br-default: .3em;

// Borders

$section-div        : .5px solid lighten($color-text, 30%);
