// ============================
//        BUTTONS
// ============================

.resume-link {
  display: block;
  font-family: $font-family--primary;
  color: $white;
  font-size: em(24px);
  background: $chambray;
  border: 5px solid lighten($chambray, 45%);
  border-radius: 20px;
  text-decoration: none;
  padding: em(20px);
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: em(30px);
  text-transform: uppercase;
  transition: all 300ms cubic-bezier(.19,-0.32,.69,1.33);

  &:hover {
    transform: scale(1.1);
    transition: all 300ms cubic-bezier(.19,-0.32,.69,1.33);
  }

  @include mq(large) {
    margin-bottom: 0; 
  }
}
