// ============================
//        BUTTONS
// ============================

.resume-link {
  display: block;
  font-family: $font-family--primary;
  color: $white;
  font-size: em(24px);
  background: $chambray;
  border: 5px solid lighten($chambray, 45%);
  border-radius: 20px;
  text-decoration: none;
  padding: em(20px);
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;

  &:hover {
    opacity: 0.85; 
  }
}



// .search-btn {
//   margin-right: em(10px);
//   background-color: $white;
//   margin-left: em(-5px);
//   height: em(35px);
//   border-left: none;
//   border-top: 2px solid $color-primary;
//   border-right: 2px solid $color-primary;
//   border-bottom: 2px solid $color-primary;
//   vertical-align: bottom;
//   border-radius: 0 .4em .4em 0;
//   cursor: pointer;
//
//   @include mq(large) {
//       height: em(50px);
//   }
// }
//
// fieldset {
//   border: none;
//   margin: em(20px) em(20px) em(30px) 0;
//   width: 90%
// }
//
// @media(min-width: $brkpoint-md) {
//   fieldset {
//     width: 40%;
//     margin: em(20px) em(5px) em(30px) auto;
//   }
// }
//
// fieldset label {
//   outline: none !important;
// }
//
// .message-user {
//   button {
//     @extend %btn;
//     @extend %centered;
//     background: $color-secondary;
//     width: 85%;
//     cursor: pointer;
//   }
// }
//
// #settings {
//   input {
//     @extend %centered;
//     width: em(100px);
//   }
//
//   label {
//     @extend %centered;
//     width: em(100px);
//     padding-top: em(10px);
//   }
// }
//
// .save,
// .reset {
//   @extend %btn;
//   @extend %centered;
//   margin-bottom: em(25px);
//   width: 70%;
//   cursor: pointer;
//
//   @include mq(medium) {
//     width: 40%;
//   }
// }
//
// .save {
//   background: $color-secondary;
// }
//
// .reset {
//   background: $color-light;
// }
//
// .graph-toggle {
//   cursor: pointer;
// }
