// =========================
//        LAYOUT
// =========================

header {
  margin-top: 0;

  nav {
    display: none;

    @include mq(large) {
      display: inline-flex;
    }

  }

  @include mq(large) {
    @include flexify($dir: row, $just: space-between);
    background: rgba(12, 22, 39, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: em(25px);
    z-index: 7000;

  }
}

.header-banner {
  background: linear-gradient(transparent, $firefly 80%),
              url('../img/galaxy3.jpg') center no-repeat;

  @include mq(large) {
    background: inherit;
  }
}

#bio {
  padding: em(150px) em(15px);
  margin-bottom: em(40px);
}

.contact-icons {
  @include flexify($dir: row, $just: center);

  li {
    padding: 0 em(18px);
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: lighten($firefly, 10%);
  opacity: 0.9;
  z-index: 1500;
  margin-top: em(100px);

  @include mq(large) {
    position: static;
    width: 100%;
    background: linear-gradient($firefly, lighten($firefly, 5%) 80%);
    opacity: 1;
    bottom: 0;
    margin-top: em(500px);
    padding-top: em(100px);
    padding-bottom: em(25px);
  }
}

.social2 {
  display: none;

  @include mq(large) {
    @include flexify($dir: row, $just: center);
    background: transparent;
    margin-bottom: 0;
  }
}

#social-mobile {
  @include mq(large) {
    display: none;
  }
}

#footer-nav {
  @include flexify($dir: row, $just: center);

  li {
    margin: 0 em(15px);
  }

  svg {
    fill: lighten($mamba, 25%);
  }
}

.owl-carousel {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#hero {
  display: none;
  height: 100vh;
  margin-top: 0;

  @include mq(large) {
    display: block;
  }
}

#hero2 {
  display: none;
  height: 90vh;
  margin-top: 0;

  @include mq(large) {
    display: block;
  }
}

.main-nav {
  padding-top: em(25px);
}

#bio {
  border: 4px solid $mamba;
  background: lighten($firefly, 5%);
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: em(8px);
  text-align: center;
  margin-top: em(50px);

  div {
    background: transparent;
  }

  p {
    background: transparent;
  }

  @include mq(large) {
    @include flexify($dir: row, $just: center);
    width: 100%;
    border: none;
    background: linear-gradient($firefly, lighten($firefly, 5%) 30%, $firefly 100%);
  }
}


#animated-signature {
  background: transparent;
}

.signature {
  background: transparent;
}

.overlay-info {
  list-style-position: inside;
  padding-left: em(10px);
  padding-right: em(10px);

  li {
    padding-left: em(8px);
    padding-right: em(8px);
  }
}


.hidden {
  display: none;
}

#books {
  height: em(850px);

  @include mq(medium) {
    height: em(450px);
  }

  @include mq(large) {
    width: 100%;
  }
}

#music {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#fun {
  @include mq(large) {
    @include flexify($dir: row, $just: center);
  }
}

#gr_grid_widget_1554604031 {
  padding-top: em(40px);
}

#offset,
#offset-2,
#offset-3 {
  display: none;

  @include mq(large) {
    display: block;
    height: em(10px);
    background: transparent;
    padding-bottom: em(120px);
  }
}
