// =========================
//        LAYOUT
// =========================

header {
  // background: linear-gradient(transparent, $firefly 80%),
  //             url('../img/galaxy3.jpg') center no-repeat;
  margin-top: 0;

  nav {
    display: none;

    @include mq(large) {
      display: inline-flex;
    }

  }

  @include mq(large) {
    @include flexify($dir: row, $just: space-between);
    // background: linear-gradient(inherit, transparent 90%);
    background: rgba(12, 22, 39, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: em(25px);
    z-index: 7000;

  }
}

.header-banner {
  background: linear-gradient(transparent, $firefly 80%),
              url('../img/galaxy3.jpg') center no-repeat;

  @include mq(large) {
    background: inherit;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: em(4px);
  text-align: center;
  letter-spacing: 1.1;
}

h4 {
  text-align: center;
}

#bio {
  padding: em(150px) em(15px);
  margin-bottom: em(40px);
}

.contact-icons {
  @include flexify($dir: row, $just: center);

  li {
    padding: 0 em(18px);
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: lighten($firefly, 10%);
  opacity: 0.9;
  z-index: 1500;
  margin-top: em(100px);

  @include mq(large) {
    position: static;
    width: 100%;
    background: linear-gradient($firefly, lighten($firefly, 5%) 80%);
    opacity: 1;
    bottom: 0;
    margin-top: em(500px);
    padding-top: em(100px);
    padding-bottom: em(25px);
  }
}

.social2 {
  display: none;

  @include mq(large) {
    @include flexify($dir: row, $just: center);
    background: transparent;
    margin-bottom: 0;
  }
}

#social-mobile {
  @include mq(large) {
    display: none;
  }
}

#footer-nav {
  @include flexify($dir: row, $just: center);

  li {
    margin: 0 em(15px);
  }

  svg {
    fill: lighten($mamba, 25%);
  }
}

.owl-carousel {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#hero {
  display: none;
  height: 100vh;
  margin-top: 0;

  @include mq(large) {
    display: block;
  }
}

#hero2 {
  display: none;
  height: 90vh;
  margin-top: 0;

  @include mq(large) {
    display: block;
  }
}

.main-nav {
  padding-top: em(25px);
}

#bio {
  border: 4px solid $mamba;
  background: lighten($firefly, 5%);
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: em(8px);
  text-align: center;
  margin-top: em(50px);

  div {
    background: transparent;
  }

  p {
    background: transparent;
  }

  @include mq(large) {
    @include flexify($dir: row, $just: center);
    width: 100%;
    border: none;
    background: linear-gradient($firefly, lighten($firefly, 5%) 30%, $firefly 100%);
  }
}


#animated-signature {
  background: transparent;
}

.signature {
  background: transparent;
}

.overlay-info {
  list-style-position: inside;
  padding-left: em(10px);
  padding-right: em(10px);

  li {
    padding-left: em(8px);
    padding-right: em(8px);
  }
}


.hidden {
  display: none;
}

#books {
  height: em(850px);

  @include mq(medium) {
    height: em(450px);
  }

  @include mq(large) {
    // max-height: em(300px);
    width: 100%;
  }
}

#music {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#fun {
  @include mq(large) {
    @include flexify($dir: row, $just: center);
  }
}

#gr_grid_widget_1554604031 {
  padding-top: em(40px); 
}



// .container {
//   display: flex;
//   flex-direction: column;
//
//   @include mq(large) {
//     margin-left: em(150px);
//     margin-top: 0;
//   }
// }
//
// #header {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   background: $color-shade;
//   width: 100%;
//   height: em(75px);
//   position: fixed;
//   z-index: 100;
//   top: 0;
//
//   @include mq(large) {
//     height: em(100px);
//   }
// }
//
// .header-right {
//   display: inline-flex;
//   flex-direction: row;
//   justify-content: flex-end;
//   margin-right: em(8px);
//
//   li {
//     cursor: pointer;
//   }
//
//   @include mq(large) {
//     margin-right: em(75px);
//   }
// }
//
// .dashboard {
//   margin-top: em(150px);
//
//   @include mq(large) {
//     margin-top: em(100px);
//   }
// }
//
// .dashboard-heading {
//   padding: em(8px);
// }
//
// .dashboard-bar {
//   @include flexify($dir: row, $just: space-between);
// }
//
// .search-bar {
//   width: 85%;
// }
//
// .alert {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     margin-top: em(20px);
//     border-radius: $br-default;
//     background-color: $color-primary;
//     color: white;
//     width: 90%;
//     height: em(80px);
//     text-align: center;
//     font-size: em(14px);
//     padding: em(10px);
//
//     @include mq(medium) {
//       font-size: em(16px);
//     }
//
//     @include mq(mdlarge) {
//       height: em(60px);
//     }
//
//     @include mq(large) {
//       font-size: em(16px);
//       padding: em(20px);
//     }
// }
//
//
// .close-btn {
//     margin-right: em(5px);
//     margin-bottom: em(10px);
//     margin-top: em(2px);
//     color: white;
//     font-weight: bold;
//     float: right;
//     font-size: 22px;
//     line-height: 20px;
//     cursor: pointer;
//     transition: 0.3s;
// }
//
// .close-btn:hover {
//     color: $color-light;
// }
//
// #social-stats {
//   padding-top: em(30px);
//   padding-bottom: em(30px);
//   border-bottom: $section-div;
// }
//
// #twitter,
// #facebook,
// #google {
//   @include flexify($dir: row, $just: space-between);
//   background: $color-light;
//   border: .5px solid $color-shade;
//   width: 90%;
//   margin-left: auto;
//   margin-right: auto;
//   margin-top: em(30px);
//   margin-bottom: em(30px);
//
//   @include mq(medium) {
//     width: auto;
//     padding: em(20px);
//   }
//
//   @include mq(large) {
//     padding: em(20px) em(55px);
//   }
// }
//
// .row {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   border-bottom: $section-div;
//
//   @include mq(medium) {
//     @include flexify($dir: row, $just: center);
//   }
//
//   &:last-of-type {
//     @include mq(medium) {
//       border-bottom: none;
//     }
//   }
// }
//
// #new-members {
//   border-bottom: $section-div;
//
//   @include mq(medium) {
//     border-right: $section-div;
//   }
// }
//
// #new-members,
// #recent-activity {
//   @include mq(medium) {
//     width: 50%;
//     border-bottom: none;
//   }
// }
//
// .activity-group {
//   @include flexify($dir: row, $just: space-between);
//
//   @include mq(medium) {
//     @include flexify($dir: row, $just: space-between);
//   }
// }
//
// .activity-feed {
//   padding-left: em(15px);
//   padding-right: em(15px);
//   padding-top: em(10px);
//   margin-top: auto;
//   margin-bottom: auto;
//   display: block;
//
//   @include mq(medium) {
//     width: em(400px);
//   }
// }
//
// .activity {
//   padding-left: em(30px);
//   padding-right: em(30px);
//
//   @include mq(medium) {
//     padding-left: em(15px);
//     padding-right: 0;
//   }
// }
//
// .activity,
// .member-listing {
//   @include mq(medium) {
//     border-bottom: $section-div;
//   }
// }
//
// .activity:last-of-type,
// .member-listing:last-of-type {
//   border-bottom: none;
// }
//
// .member-listing {
//   @include mq(medium) {
//     @include flexify($dir: row, $just: space-around);
//     padding-left: em(15px);
//   }
// }
//
// .date {
//   @include mq(medium) {
//     display: none;
//   }
// }
//
// .date-lg {
//   display: none;
//
//   @include mq(medium) {
//     display: block;
//     margin-right: em(15px);
//   }
// }
//
// .arrow {
//
//   padding-left: em(15px);
//   padding-right: em(8px);
//
//   a {
//   font-size: 68px;
//   }
//
// }
//
//
// #message-user,
// #settings {
//   @include mq(medium) {
//     width: 100%;
//   }
// }
//
// #settings {
//   @include mq(medium) {
//     border-left: $section-div;
//   }
// }
//
// .group-2 {
//   @include mq(medium) {
//     @include flexify($dir: row, $just: center);
//     margin-left: auto;
//     margin-right: auto;
//     width: 100%;
//   }
// }
//
// .group-3 {
//   @include flexify($dir: row, $just: space-around);
// }
//
// .group-social {
//   @include mq(medium) {
//     @include flexify($dir: row, $just: space-around);
//   }
// }
//
// .dot {
//   height: 6px;
//   width: 6px;
//   background-color: lighten($emerald, 15%);
//   border-radius: 50%;
//   display: inline-block;
//   margin-left: -15px;
//   margin-bottom: -5px;
// }
//
// #dropdown {
//   background-color: $white;
//   position: fixed;
//   color: $color-accent;
//   font-size: em(12px);
//   border: 2px solid $scooter;
//   width: 90vw;
//   height: auto;
//   z-index: 5000;
//   top: 69px;
//   left: 0;
//   margin: 0 auto;
//   right: 0;
//   display: none;
//   padding-left: em(10px);
//   padding-right: em(10px);
//
//   li {
//     border-bottom: $section-div;
//
//     &:last-of-type {
//       border-bottom: none;
//     }
//   }
//
//   @include mq(medium) {
//     width: 60vh;
//     top: 53px;
//     position: absolute;
//     left: inherit;
//     margin: inherit;
//   }
// }
//
// #notification-item {
//   position: relative;
// }
