// ================
//    NAVIGATION
// ================

.main-nav {
  @include flexify($dir: row, $just: space-between);
}

nav,
#desk-main-nav,
.main-nav,
.main-nav li {
  @include mq(large) {
    background: rgba(12, 22, 39, 0);
  }
}

.mobile-nav,
#footer-nav {
  background: transparent;

  svg,
  li,
  a {
    background: transparent;
  }
}

.mobile-nav {
  @include mq(large) {
    display: none;
  }
}

.social2 li {
  background: transparent;
  padding-left: em(25px);
  padding-right: em(25px);

  svg {
    background: transparent;
    width: em(50px);
    height: em(50px);
    transition: all 500ms ease-in-out;

    &:hover {
      transform: scale(1.2) rotate(360deg);
      transition: all 500ms ease-in-out;
      fill: lighten($chambray, 30%);
    }
  }
}

.main-nav {
  @include mq(large){
    li {
      padding-left: em(10px);
      padding-right: em(10px);
    }
  }
}
